<p id="notice"><%= notice %></p>

<p>
  <strong>ASIN:</strong>
  <%= @product.asin %>
</p>

<p>
  <strong>Product Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @product.rank %>
</p>

<p>
  <strong>Product Dimensions:</strong>
  <%= @product.product_dimensions %>
</p>

<%#= link_to 'Edit', edit_product_path(@product) %> 
<%= link_to 'Back', products_path %>
